.new-expense-item-controls{
    display: flex;
    justify-content: space-evenly;
}

.new-expense-item-control{
    
}
}

.new-expense-item-label{
    color: white;
    font-family: 'Montserrat', sans-serif;

}