.new-expense-item-controls{
    display: flex;
    justify-content: space-evenly;
}

.new-expense-item-label{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 600;
}

.new-expense-item-actions{
    display: flex;
    justify-content: center;
}