.new-expense-item-controls{
    display: flex;
    justify-content: space-evenly;
}


.new-expense-item-label{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
    font-size: 25px
    ;
}