.expense-item{
    display: flex;
    width:50%;
}

.expense-item-date{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: large;
}

.expense-item-info{
    display: flex;
    width: 100%;
    margin-left: ;
}