.expense-item{
    display: flex;
    width:50%;
    margin-top: 50px;
    padding: 20px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3%;
}

.expense-item-info{
    display: flex;
    width: 50%;
    margin-left: 20px;
}

.expense-item-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size:large;
    color: white;
}

.expense-item-price{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size:large;
    margin-left: 20px;
    color: white;
}