.expense-item{
    display: flex;
    width:90%;
    margin-top: ;
    padding: 20px;
    background-color: grey;
    border: 1px solid white;
}

.expense-item-info{
    display: flex;
    width: 50%;
    margin-left: 20px;
}

.expense-item-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size:large;
    color: white;
}

.expense-item-price{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size:large;
    margin-left: 20px;
    color: white;
}